body{
    /*background-color: #ccc;*/
    font-family: "Times New Roman";
}
.header{
    /*background: rgba(255, 255, 255, 0.8);*/
    margin-bottom: 10px;
    margin-top: 10px !important;
    border-radius: 20px;
    
    font-size: 1.8em;
    line-height: 70px;
    min-height: 70px;
}
.container-footer {
    max-height: 97px;
}
.container-footer .footer{
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.4);
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 10px !important;
    /*font-size: 1.8em;*/
    min-height: 97px;
    background-size: cover;
    /*line-height: 70px;*/
    /*text-align:left;*/
    /*width: 100px;
    height: 100px;*/
    padding: 10px;
    outline: none;
}
.container-footer .footer1{
    /*background: rgba(242, 242, 242, 0.7);*/
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 10px !important;
    /*font-size: 1.8em;*/
    /*min-height: 97px;*/
    background-size: 90px;
    /*line-height: 70px;*/
    text-align:center;
    width: 100px;
    height: 100px;
    padding: 5px;
}
.container-footer .url-homenaje{
    /*background: rgba(242, 242, 242, 0.7);*/
    font-size: 19px !important;
    line-height: 35px !important;
}
.qr{
    padding: 5px 0px;
}
.textoMensaje {
    margin-top: 30px;
    min-height: 530px;
    
}
.botonOcultar {
    text-align: left;
    
}
.radio{
    border-radius: 10px;
}
.parrafo{
    text-align: justify;
    font-size: 28px;
    
}
.parrafo2{
    margin-left: -50px;
    text-align: right;
    font-size: 28px;
}
.nombre{
    margin-top: 20px;
}
.img-redondeada {
    border-radius: 40px;
    
    margin-left: -60px;
}
.widperson{
    width: 580px;
}
.prodcata{
    width: 500px;
}
/* Swiper */
.swipe {
    margin-top: 20px;
}
.swiper-container {
    width: 100%;
    height: 650px;
}
.swiper-wrapper{
    height: 650px;
}
.swiper-slide {
    min-height: 500px !important;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
   /* background: #e2e2e2;*/
   /*background: rgba(255, 255, 255,0.4);*/
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 40px;
}

.xcontrol-content{
    position: relative;
    top: 0px;
    left: 0;
    height: 600px;
    margin-bottom: 50px;
    width: 1200;
    /*background-color: grey;*/
}
.xcatalogo-content{
    transition: all  0.5s;
    position: absolute;
    top: 0;
    left: 0;
    height: 650px;
    width: 100%;
    overflow: auto;
    opacity:1;
}
.xcvn-content{
    position: absolute;
    top: 0;
    left: -13px;
    height: 1080px;
    width: 1920px;
    z-index: 1;
}
.xcv2-content{
    position: absolute;
    top: 0;
    left: -13px;
    height: 1920px;
    width: 1080px;
    z-index: 1;
}
.xca-content{
    position: absolute;
    top: 0;
    left: -13px;
    height: 1080px;
    width: 1920px;
    z-index: 1;
}
.xcs-content{
    position: absolute;
    top: 0;
    left: -13px;
    height: 800px;
    width: 1280px;
    z-index: 1;
}
.xinfo-content{
    transition: all  0.5s;
    position: absolute;
    top: 0;
    left: 0;
    height: 650px;
    width: 100%;
    opacity:1;
}

.xinfo-content .xinfo{
    float: left;
    display: inline-block;
    width: 1220px;
    height: 620px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border: rgb(200, 200, 200) solid 2px;
    border-radius: 20px;
    
    border: 0px solid #000000;
}
.xinfo-content .xinfo .xinfo-profile{
    float: left;
    display: inline-block;
    width: 580px;
    height: 216px;
    margin-right: 25px;
    margin-bottom: 15px;
    border: rgb(200, 200, 200) solid 2px;
    /*background: rgba(255, 255, 255, 0.4);*/
    border-radius: 20px;
    
    border: 0px solid #000000;
}
.xcard-content .xphoto{
    float: left;
    display: inline-block;
    width: 414px;
    height: 524px;
    margin-top: 61px;
    margin-left: 56px;
    margin-right: 25px;
    margin-bottom: 43px;
    /*border: rgb(200, 200, 200) solid 2px;*/
    background: #B4B4B4;
}
.ct-encabezado{
    float: left;
    border-radius: 50px;
    text-align: center;     
    margin-right: auto;
    margin-left: auto;  
    height: 200px;
    width: 200px;
}

.ct-encabezado div{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 50px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 1.2;   
    
}
.xinfo-content .xinfo .xinfo-profile .xinfo-text{
    vertical-align: middle;
    margin-right: 10px;
    width: 350px;
    float: right;
}
.xinfo-content .xinfo .xinfo-map{
    float: right;
    display: inline-block;
    width: 615px;
    height: 626px;
    text-align: center;
    border: rgb(200, 200, 200) solid 2px;
    /*background: rgba(255, 255, 255, 0.4);*/
    border-radius: 20px;
    
    border: 0px solid #000000;
}
.xinfo-content .xinfo .xinfo-map h3{
    margin-left: 10px; 
    margin-right: 10px;
}
.xinfo-content .xinfo .xinfo-service{
    float: left;
    width: 580px;
    height: 255px;
    margin-right: 25px;
    text-align: center;
    border: rgb(200, 200, 200) solid 2px;
    /*background: rgba(255, 255, 255, 0.4);*/
    border-radius: 20px;
    
    border: 0px solid #000000;
    line-height: 0.9 !important;
}
.xinfo-content .xinfo .xinfo-service h1{
    margin-top: -5px;
}
.xinfo-service-velatorio{
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    float: left;
    width: 286px;
  
    /*background: rgba(255, 255, 255, 0.4);*/
    
}
.xinfo-service-hora{
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
   
    float: right;
    margin-right: 25px;
    width: 286px;
    /*background: rgba(255, 255, 255, 0.4);*/
}
.fondo  {
    border-radius: 10px;
    color:white;
    /*background-color: #ccc;*/
}
.swiper-button-next{
    fill: #000;
}
.textoNombreProd {
     
     margin-left:  50px;
    min-height: 50px;
    
}
.textoPrecioProd {
    margin-left:  50px;
    min-height: 50px;
    
}
.swipe2 {
    margin-top: 20px;
    height: 630px;
    overflow: scroll;

}
.container-prod {
/*background: rgba(255, 255, 255, 0.4);  */
    margin-top: 20px;
    border-radius: 20px;  
    /*width: 500px;*/
}
.botonComprar {
    text-align: center;
    border-radius: 10px; 
    height: 35px; 
    width: 100px;  
    /*background-color:#dcdcdc; */
    margin-left: 50px;
    margin-bottom:  10px;

}
.dialogdemoBasicUsage #popupContainer {
    position: relative;
    width: 500px; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.cont-publicidad{
    position: fixed;
    top: 0;
    left: 0;
    /*margin: 2.5% 5.3%;*/
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    /*border-radius: 20px;*/
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.publicidad{

    width: 70%
    height: 90%;
    background: white;
}

#pagina{
    opacity: 1;
}

.ng-hide {
  opacity: 0;
  /*height: 0;*/
}

.md-button{
    
    text-align: center !important;
    border-radius: 10px!important; 
    height: 35px !important; 
    width: 100px !important;  
    background-color:#dcdcdc !impotant; 
    margin-left: 50px !important;
    margin-bottom:  10px !important;


}
.dialogdemoBasicUsage button {
  width: 200px; }