<!DOCTYPE html>
<html lang="en" ng-app="NI" ng-controller="cofigCtrlNI">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <title>NI</title>
    <!-- Librerias -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="js/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="js/lib/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="js/lib/Swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">

    <!-- Fin de librerias -->

    <!-- css general -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/angular-ui-swiper/dist/angular-ui-swiper.css" />

    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="swiperCtrl" class="hide" style="background-color: rgba(0,0,0,1);">
<div class="container-fluid" style="width: 1280px; height: 800px; background-image: url('img/fondo.jpg'); background-position:center center; background-size:cover;" >
    <div class="row" >
        <div class="col-md-12">
            <div class="col-xs-12 xcontrol-content" >
                <!-- <span ng-if="!cvnShow"> -->
                    <!-- CONTENEDOR DE CH -->
                    <div  class="xinfo-content"  ng-style="showDiv">
                        
                        <span ng-if="demo">
                            <div ng-include="'../_ch/?sala={{sala_demo}}'"></div>
                        </span>
                        <span ng-if="!demo">
                            <div ng-include="'../_ch/'" ></div>
                        </span>
                        <!-- <iframe src="../_ch/" width="100%" height="100%" style="border-radius: 20px; " frameBorder="0"></iframe> -->
                    </div>
                    <!-- FIN CONETENEDOR CH -->
                    <!-- CONTENEDOR DE CI -->
                    <div  class="xinfo-content" ng-hide="!ciShow">
                        <span ng-if="demo">
                            <div ng-include="'../_ci/?sala={{sala_demo}}'"></div>
                        </span>
                        <span ng-if="!demo">
                            <div ng-include="'../_ci/'"></div>
                        </span>
                    </div>
                    <!-- FIN CONETENEDOR CI -->
                    <!-- CONTENEDOR DE CD -->
                    <div  class="xcatalogo-content" ng-hide="!cdShow">
                        <div ng-include="'../_cd/'"></div>
                    </div>
                    <!-- FIN CONETENEDOR CD -->
                    <!-- CONTENEDOR DE MF -->
                    <div  class="xinfo-content" ng-hide="!mfShow">
                        <div ng-include="'../_mf/'"></div>
                    </div>
                    <!-- FIN CONETENEDOR MF -->
                    <!-- CONTENEDOR DE MF -->
                    <div  class="xinfo-content" ng-hide="!crShow">
                        
                        <span ng-if="demo">
                            <div ng-include="'../_cr/?sala={{sala_demo}}'"></div>
                        </span>
                        <span ng-if="!demo">
                            <div ng-include="'../_cr/'"></div>
                        </span>
                    </div>
                    <!-- FIN CONETENEDOR MF -->
                    <!-- CONTENEDOR DE CS -->
                    <div  class="xinfo-content" ng-hide="!csShow">
                        <span ng-if="demo">
                            <iframe ng-src="{{url_demo}}" width="100%" height="100%" style="border-radius: 20px; " frameBorder="0"></iframe>
                        </span>
                        <span ng-if="!demo">
                            <iframe src="../_cs/" width="100%" height="100%" style="border-radius: 20px; " frameBorder="0"></iframe>
                        </span>
                    </div>
                    <!-- FIN CONETENEDOR CS -->
                <!-- </span>                     -->
                
            </div>
            <div class="clear"></div>
            <div class="col-lg-12 container-footer">
                <!-- <span style="border-radius: 20px;"> -->
                    <a ng-href="http://{{url_web_homenaje}}" target="_blank" class="col-lg-1 pull-left footer1" style="background: {{color_fondo}}">
                        <img src="{{qrcode}}" width="100%" height="100%" alt="" ng-style="{'background-repeat':'no-repeat', 'background-position':'center center','border-radius':'20px'}">
                    </a>
                <!-- </span> -->
                

                <div class="col-lg-3 pull-left footer url-homenaje" style="background: {{color_fondo}}">
                    <strong>Comparta su homenaje en:</strong><br>
                    <strong ng-bind="url_web_homenaje | uppercase "></strong>
                </div>
                <div ng-style="{ 'background-repeat':'no-repeat', 'background-position':'center center', 'background-size':'cover'}" class="col-lg-2 pull-right" style="width: 200px; height: 100px; padding: 5px; margin-top: 20px; margin-right: -20px; margin-left: 10px; border-radius: 20px; background: {{color_fondo}}">
                    <img src="{{url_logo_pie}}" width="100%" height="100%" alt="" style="border-radius: 20px;">
                </div>
                <!-- <div id="btn-content" style="width: 600px; height: 130px; overflow-x: auto; overflow-y: hidden;"> -->
                <div id="btn-content" >
                    <!-- <div style="width: 700px; height: 150px;"> -->
                    <div >                        
                        <div class="pull-right btn-modulos" ng-if="musica_funcional == 1" >
                            <div class="  footer" style="background: {{color_fondo}}" ng-click="showMF()" ng-style="mfStyle">
                                <img src="img/btn-mf2.png" alt="" width="80" >
                            </div>
                        </div>  
                        <div class="pull-right btn-modulos" ng-if="cartelera_control == 1">
                            <div class="  footer" style="background: {{color_fondo}}" ng-click="showCR()" ng-style="crStyle">
                                <img src="img/btn-cr2.png" alt="" width="80"  >                            
                            </div>
                        </div>
                        <div class="pull-right btn-modulos" ng-if="catalogo_digital == 1">
                            <div class="  footer" style="background: {{color_fondo}}" ng-click="showCD()" ng-style="cdStyle">
                                <img src="img/btn-cd.png" alt="" width="80"  >
                            </div>
                        </div>
                        <div class="pull-right btn-modulos" ng-if="cartelera_informacion == 1">
                            <div class="  footer" style="background: {{color_fondo}}" ng-click="showCI()" ng-style="ciStyle">
                                <img src="img/btn-ci2.png" alt="" width="80" >
                            </div>
                        </div>
                        <div class="pull-right btn-modulos" ng-if="cartelera_homenaje == 1">
                            <div class="  footer" style="background: {{color_fondo}}" ng-click="showCH()" ng-style="chStyle">
                                <img src="img/btn-ch2.png" alt="" width="80" height="80" >
                            </div>
                        </div>  
                    </div>                        
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-controller="publicCtrl" ng-if="public_act">
        <div class="col-xs-12" >
            <div class="cont-publicidad" style="background-image: url('img/fondo.jpg'); background-position:center center; background-size:cover">
                 <section >
                        <swiper swiper="swiper" on-init="onInit" observer="false" effect="fade" style="width: 1200px; border-radius: 20px;">
                            <slides >
                                <slide ng-repeat="public in publicidad" >
                                    <img src="{{url+public}}" style="background-repeat:no-repeat; background-position:center center; background-size:cover;" alt="" width="100%" height="100%">  
                                </slide>
                            </slides>                            
                        </swiper>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="ng-show" ng-click="vista_previa()" ng-show="license_alert"
        style="
            color: white;
            background-color: black;
            width: 1280px;
            height: 800px;
            filter: opacity(85%);
            position: absolute;
            top: 0;
            left: 0;
            padding: 50px;
            z-index: 5;
        " id='license_alert' >
    
</div>
<!-- Librerias -->
<script src="js/lib/jquery/jquery-3.2.1.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-swiper/dist/angular-ui-swiper.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="js/lib/chroma.js-master/chroma.js"></script>
<!-- end Librerias -->
<script type="text/javascript" src="js/app.js"></script>
<!-- MODULOS -->
<script type="text/javascript" src="../_ch/js/app.js"></script>
<script type="text/javascript" src="../_ci/js/app.js"></script>
<script type="text/javascript" src="../_cd/js/app.js"></script>
<script type="text/javascript" src="../_cr/js/app.js"></script>

</body>
</html>